@import 'styles/constants';
@import '../../../styles/constants.scss';

.loader {
  display: flex;
  justify-content: center;
}

.loader {
  & div {
    width: var(--loader-width, 12px);
    height: var(--loader-height, 12px);
    margin: 5px;
    border-radius: 50%;
    background-color: $grayLight;
    opacity: 1;
    animation: bouncing-loader 0.6s infinite alternate;
  }

  & div:nth-child(2) {
    animation-delay: 0.2s;
  }

  & div:nth-child(3) {
    animation-delay: 0.4s;
  }
}

@keyframes bouncing-loader {
  to {
    opacity: 0.1;
    transform: translateY(-10px);
  }
}
