@import 'styles/constants';

.cardsWrapper {
  display: flex;
  max-width: $laptop;
  padding-bottom: 0px;
  align-items: center;
  cursor: pointer;
  column-gap: 8px;

  @include media(tablet) {
    flex-direction: column;
  }
}
