@import 'styles/constants';

.btnBlock,
.btnBlockProductDetails {
  display: flex;
  width: auto;
}

.btnBlockProductDetails {
  @include media(tablet) {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }
}

.parameterBtn,
.parameterBtnFilter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  padding-top: 1px;
  font-family: $font-family-main;
  font-size: 14px;
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 15px;
  }
}

.parameterBtnFilter {
  width: 48px;
  height: 48px;
  font-size: 20px;
  border: 1px solid $grayDark;
  border-radius: 4px;
}

.productDetailsParameterBtn {
  width: 50px;
  font-family: $font-family-main;
  font-size: 20px;
  border: 1px solid $grayDark;
  border-radius: 4px;
  cursor: pointer;

  &:not(:last-child) {
    @include media(laptopUp) {
      margin-right: 15px;
    }
  }

  @include media(tablet) {
    width: 100%;
    border: none;
    text-align: left;
    padding-left: 15px;
    border-top: 1px solid $grayLight;
    border-radius: 0;
  }
}

.active {
  border-radius: 4px;
  border: 0.5px solid $blackColor;
}

.activeProductDetails {
  color: $brilliance;
  background-color: $blackColor;
}

.text {
  padding: 17px 0 13px;
}
