@import 'styles/constants';

.wrapper {
  @include media(laptopUp) {
    width: calc((100% - 52px) * 34 / 100);
  }
}

.title {
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 0.01rem;
  margin-bottom: 10px;

  @include media(laptop) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  @include media(tablet) {
    font-size: 20px;
    font-weight: 500;
  }
}

.submenu {
  font-family: $font-family-main;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}

.listStyle {
  overflow: hidden;
  padding-bottom: 0;
  line-height: 20px;
  max-height: 220px;
  transition: all 200ms ease;
}

.accordionBox {
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid $paleGray;
}
