@import 'styles/constants';

.info {
  padding-right: 5px;
}

.nameBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.productName {
  width: 100%;
  font-size: 16px;
  letter-spacing: 0rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.shoppingCart {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.shoppingCartImg {
  width: 20px;
  stroke: $blackColor;
}

.price {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0rem;
  margin-bottom: 10px;
  @include media(mobile) {
    margin-bottom: 4px;
  }
}

.shoppingCartWrapper,
.productInfoParametersWrapper {
  @include media(mobile) {
    display: none;
  }
}
