$pageBackground: #ffffff;
$textPrimary: #212121;
$blackColor: #212121;
$backdropColor: #21212166;
$blackTransparentColor: #00000033;
$brilliance: #fdfdfd;
$alertRed: #ff0000;
$grayLight: #959595;
$grayDark: #636363;
$paleGray: #ececec;
$cream: #f5f5dc;
$darkGreen: #00997a;
$greenMint: #00ca8d;

$font-family-main: League Spartan;

$mobile: 480px;
$tablet: 960px;
$laptopMin: 961px;
$laptop: 1280px;
$desktop: 1439px;
$max-content-width: 1280px;

@mixin media($breakpoint) {
  @if $breakpoint ==mobile {
    @media only screen and (max-width: $mobile) {
      @content;
    }
  }

  @if $breakpoint ==tablet {
    @media only screen and (max-width: $tablet) {
      @content;
    }
  }

  @if $breakpoint ==laptop {
    @media only screen and (max-width: $laptop) {
      @content;
    }
  }

  @if $breakpoint ==desktop {
    @media only screen and (max-width: $desktop) {
      @content;
    }
  }

  @if $breakpoint ==tabletUp {
    @media only screen and (min-width: 481px) {
      @content;
    }
  }

  @if $breakpoint ==laptopUp {
    @media only screen and (min-width: $laptopMin) {
      @content;
    }
  }
}

@mixin laptopOnly {
  @media only screen and (min-width: #{$laptopMin}) and (max-width: #{$laptop}) {
    @content;
  }
}
