$pageBackground: #ffffff;
$brilliance: #fdfdfd;
$textPrimary: #212121;
$blackColor: #212121;
$backdropColor: #21212166;
$semiTransparentBlack: #00000040;
$alertRed: #ff0000;
$grayLight: #959595;
$grayDark: #636363;
$lightGrey: #e0e0e0;
$fadedGray: #95959533;
$paleGray: #ececec;
$lightGray: #e0e0e0;
$lightSilver: #adadad;
$cream: #f5f5dc;
$darkGreen: #00997a;
$greenMint: #00ca8d;
$darkBlue: #234ebd;

$font-family-main: League Spartan;

$mobile: 480px;
$tablet: 960px;
$laptopMin: 961px;
$laptopMedium: 1150px;
$laptop: 1280px;
$desktopUp: 1281px;
$desktop: 1440px;
$max-content-width: 1280px;

@mixin media($breakpoint) {
  @if $breakpoint ==mobile {
    @media only screen and (max-width: $mobile) {
      @content;
    }
  }

  @if $breakpoint ==tablet {
    @media only screen and (max-width: $tablet) {
      @content;
    }
  }

  @if $breakpoint ==laptop {
    @media only screen and (max-width: $laptop) {
      @content;
    }
  }

  @if $breakpoint ==laptopMedium {
    @media only screen and (max-width: $laptopMedium) {
      @content;
    }
  }

  @if $breakpoint ==desktop {
    @media only screen and (max-width: $desktop) {
      @content;
    }
  }

  @if $breakpoint ==tabletUp {
    @media only screen and (min-width: 481px) {
      @content;
    }
  }

  @if $breakpoint ==laptopUp {
    @media only screen and (min-width: $laptopMin) {
      @content;
    }
  }

  @if $breakpoint ==desktopUp {
    @media only screen and (min-width: $desktopUp) {
      @content;
    }
  }
}

@mixin laptopOnly {
  @media only screen and (min-width: $laptopMin) and (max-width: $laptop) {
    @content;
  }
}
