@import 'styles/constants';

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 15px 32px;
  margin-top: 10px;
  background-color: $pageBackground;
}

.category {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.accordionWrapper {
  margin-bottom: 25px;
}

.link,
.clothing,
.promotion,
.linkSeeAll {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.01rem;
  color: $textPrimary;
}

.link:not(:last-child),
.clothing,
.promotion {
  margin-bottom: 25px;
}

.linkSeeAll {
  font-weight: 600;
  margin-bottom: 25px;
}

.promotion {
  color: $alertRed;
}

.link:hover,
.link:focus,
.clothing:hover,
.clothing:focus,
.promotion:hover,
.promotion:focus {
  color: $grayLight;
}

.title {
  font-family: $font-family-main;
  font-size: 24px;
  letter-spacing: 0.01rem;
  color: $textPrimary;
}

.listStyle {
  overflow: hidden;
  padding-bottom: 0;
  max-height: max-content;
  transition: all 200ms ease;
}

.hide {
  display: none;
}
