@import 'styles/constants';

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-bottom: 64px;
  @include media(mobile) {
    margin-bottom: 0px;
  }
}

.pager {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  &:hover {
    cursor: default;
  }
}

.pageText {
  cursor: default;
}

.pageButton {
  color: $grayLight;
  &:hover {
    cursor: pointer;
  }
}

.pageButtonActive {
  color: $blackColor;
  &:hover {
    cursor: default;
  }
}
