@import 'styles/constants';

.box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
}

.title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 30px;
  @include media(tablet) {
    margin-bottom: 0;
  }
}

.img,
.mobileImg {
  width: 24px;
  height: 24px;
  position: relative;
}

.mobileImg {
  @include media(laptopUp) {
    display: none;
  }
}

.hide {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: height 200ms ease-in;
}
