@import 'styles/constants';

.searchBox {
  position: relative;

  @include media(tablet) {
    display: none;
  }
}

.searchInput {
  width: 200px;
  height: 100%;
  padding-left: 60px;
  border: 1px solid $grayDark;
  border-radius: 4px;

  &::placeholder {
    font-family: $font-family-main;
    color: $textPrimary;
    font-size: 16px;
    letter-spacing: 0.01rem;
  }

  @include media(laptopMedium) {
    width: auto;
  }
}

.searchButton {
  position: absolute;
  top: 0;
  left: 8px;
  width: 40px;
  height: 100%;
}

.searchIcon {
  width: 24px;
  height: 24px;
}

.userButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.userButton {
  position: relative;
  width: 40px;
  height: 40px;
  @include media(mobile) {
    width: 32px;
    height: 32px;
  }
}

.userIcon {
  width: 24px;
  stroke: $blackColor;
  @include media(mobile) {
    width: 32px;
    height: 32px;
  }
  cursor: pointer;
}
