@import 'styles/constants';

.button {
  position: relative;
  width: 40px;
  height: 40px;
  @include media(mobile) {
    width: 32px;
    height: 32px;
  }
}

.shoppingBagIcon {
  width: 24px;
  stroke: $blackColor;
  @include media(mobile) {
    width: 32px;
    height: 32px;
  }
  cursor: pointer;
}

.quantity {
  position: absolute;
  top: 0;
  right: -1px;
  width: 16px;
  height: 16px;
  background: $greenMint;
  color: $brilliance;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font-family-main;
  font-size: 12px;
  font-weight: 500;
  z-index: 1;
}
