@import 'styles/constants';

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: $max-content-width;
  width: calc(100% - 160px);
  @include media(laptop) {
    width: calc(100% - 120px);
  }
  @include media(laptopMedium) {
    width: calc(100% - 80px);
  }
  @include media(mobile) {
    width: calc(100% - 64px);
  }
}

.mainMaxHeight {
  height: 100%;
}
