@import 'styles/constants';

.buttonsFilterWrapper {
  display: flex;
  overflow: auto;
  width: 510px;
  gap: 15px;
}

.button {
  line-height: 48px;
  padding: 0px 32px;
  border-radius: 4px;
  border: 0.5px solid $grayDark;
  color: $textPrimary;
  font-family: $font-family-main;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.16px;
  transition: all 0.5s;
  cursor: pointer;

  &:hover {
    color: $pageBackground;
    background: $textPrimary;
    border-color: $textPrimary;
  }
}

.active {
  @extend .button;
  color: $pageBackground;
  background: $textPrimary;
  border-color: $textPrimary;
}

.buttonsWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 120px;
  margin-bottom: 20px;
  gap: 15px;
}
