.imageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

.image {
  width: 100%;
}

.imageButton {
  cursor: pointer;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}
